<section class="pf-section">
    <div class="pf-wrapper">
        <div class="pf-container">
            {% for post in site.posts %}
            {% if post.onhome %}
            <a class="pf-project" href="{{ post.url }}">
                <figure>
                    <img src="assets/img/{{ post.img }}" alt="{{ post.description }}" title="{{post.title}}">
                    <figcaption>
                        <div class="pf-div">
                            <span class="desc">{{post.title}}: {{ post.description }}</span>
                            <p class="cta">View Project</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>