---
layout: default
---
<article class="archive">
  {% if page.name == "index.html" %}
    <link rel="stylesheet" href="{{ "/assets/css/header.css" | relative_url }}">
    {% include header.html %}
  {% endif %}
  
  {{ content }}

  {% if page.name == "index.html" %}
    <link rel="stylesheet" href="{{ "/assets/css/portfolio.css" | relative_url }}">
    {% include portfolio_grid.html %}
  {% else %}
    <header><h1>Game Projects</h1></header>
    {% for post in site.posts %}
      {% if post.project %}
        {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
        <div>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        </div>
      {% endif %}
    {% endfor %}

    <br>
    <header><h1>Other Posts</h1></header>
    {% for post in site.posts %}
      {% unless post.project %}
        {% unless post.onhome %}
          {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
          <div>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          </div>
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endif %}
</article>
